@import './fonts-montserrat';
@import './helpers';

$color-primary: #d93f87;
$color-subprimary: #44318d;
$color-subprimary-l: #8165a6;
$color-subprimary-d: #2a1b3c;
$color-grey: #a3b3b6;

$font-primary: 'Montserrat';

$page-top: rem(45);

$zi-header: 101;
$zi-modal: 102;
