@import '../../styles/helpers';
@import '../../styles/1-atoms/a-button';

.Calculator {
  padding-top: rem(25);

  &__button {
    @include bp(lg){
      display: block;
      margin-left: auto;
      margin-right: auto;
      font-size: rem(18);
      font-weight: 700;
      padding: rem(10) rem(15);
    }
  }

  &__factor {
    @include bp(lg){
      display: flex;
      margin-right: rem(15);
    }
  }

  &__factor-part {
    margin-right: rem(15);
  }
}
