@import '../../../styles/helpers';
@import '../../../styles/vars';

.Factor {
  position: relative;
  text-align: center;
  margin-bottom: rem(45);
  @include bp(lg){
    margin-right: rem(25);
    margin-left: rem(25);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid rem(1) $color-primary;
    margin-bottom: rem(15);
    min-height: rem(30);
  }

  &__heading {
    margin-top: 0;
    text-align: left;
    font-size: rem(12);
    text-transform: uppercase;
    font-weight: 400;
    padding-right: rem(15);
    @include bp(lg){
      font-size: rem(14);
    }
  }

  &__buttons {
    display: flex;
  }

  &__button {
    background-color: $color-primary;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: rem(12);
    font-weight: 700;
    padding: rem(5);
    @include bp(lg){
      font-size: rem(14);
    }

    &:focus {
      outline: none;
    }

    &--fold {
        background-color: $color-subprimary-l;
        width: rem(30);
        height: rem(30);
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          width: rem(25);
          height: rem(20);
          transition: transform .2s;
          path[data-name="angle-chevron-left copy"]{
            fill: white
          }
        }

        &:active {
          background-color: $color-subprimary;
        }
    }

  }

  &__fields {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
  }

}

.Factor--disactive {

  .Factor {

    &__header {
      margin-bottom: rem(15);
      border-bottom: solid rem(1) $color-grey;
    }

    &__button {
      &--fold {
          background-color: $color-grey;
      }
    }

    &__fields {
      justify-content: flex-start;
      flex-wrap: nowrap;
    }

    &__standards {
      display: none;
    }

  }

}

.Factor--hidden {
  margin-bottom: 0;

  .Factor__button--fold svg {
    transform: rotateZ(180deg);
  }

}
