@import 'helpers';
@import '1-atoms/a-button';

.Summary {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  box-shadow: 0 0 rem(15) 0 rgba($color-primary, .5);
  font-size: rem(12);
  font-weight: 600;
  padding-top: rem(15);
  padding-bottom: rem(15);
  transition: font-size .15s, line-height .15s, background-color .15s, box-shadow .15s;
  @include bp(xl){
    font-size: rem(16);
  }

  &--opened {
    font-size: rem(16);
    line-height: 1.25;
    background-image: linear-gradient(to bottom, $color-subprimary, $color-subprimary-d);
    box-shadow: 0 0 rem(30) 0 rgba(black, .5);
    @include bp(xl){
      font-size: rem(20);
      line-height: 1.55
    }

    .Summary__segments {
      display: block;
      margin-bottom: rem(10);
      padding-bottom: rem(10);
      border-bottom: solid rem(1) $color-grey;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include bp(lg){
      display: flex;
    }
  }

  &__main {
    padding-right: rem(15);
    width: 100%;
  }

  &__more {
    button {
      cursor: pointer;
      background-color: $color-primary;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: white;
      font-weight: 700;
      font-size: rem(26);
      line-height: rem(30);
      width: rem(30);
      height: rem(30);
      padding-left: 0;
      padding-right: 0;
      &:focus {
        outline: none;
      }
      &:active {
        background-color: $color-subprimary;
      }
    }

    svg {
      fill: white;
      transform: scale(.95)
    }
  }

  &__segments {
    display: none;
    @include bp(lg){
      display: block;
    }
  }

}
