@import 'helpers';
@import 'vars';
@import '1-atoms/a-button';

.Segment-wrapper {
  margin-bottom: rem(35);
  border: solid rem(10) rgba($color-subprimary, .35);
  padding: rem(20) rem(25);
  border-radius: rem(15);
  @include bp(lg){
    position: relative;
  }
}

.Segment {
  // margin-bottom: rem(15);
  @include bp(lg){
    display: flex;
    justify-content: center;
  }

  &__button {
    @extend .a-button;
    @extend .a-button--sub;
  }

  &__heading {
    margin-bottom: rem(20);
    font-size: rem(24);
    color: white;
    display: flex;
    align-items: center;
    white-space: nowrap;
    @include bp(xl){
      font-size: rem(32);
      margin-bottom: rem(32);
    }
    &:after {
      content: "";
      display: block;
      height: rem(1);
      background-color: $color-grey;
      width: 100%;
      margin-left: rem(15);
      @include bp(sm){
        display: none;
      }
    }
  }

}
