@import '../../../styles/helpers';
@import '../../../styles/1-atoms/a-button';

.Standards {

  &__button-wrapper {
    padding-top: rem(10);
    display: flex;
    justify-content: flex-start;
  }

  &__buttons {
    padding-top: rem(10);
    border-bottom: solid rem(1) $color-subprimary;
  }

  &__heading {
    margin-bottom: rem(15);
  }

  &__init {
    @extend .a-button;
    @extend .a-button--sub;
    white-space: normal;
    font-size: rem(10);
    width: 100%;
    padding: rem(7);
    @include bp(md){
      width: auto;
    }
  }

  &__button {
    @extend .a-button;
    display: block;
    width: 100%;
    margin-top: rem(10);
    margin-bottom: rem(10);
  }

}
